// Define variable defaults
$body-bg: #fff;
$body-color: #111;

$theme-colors:(
    "primary" : #338997,
    "secondary": #8dc043,
    "light": #efefef,
);

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

// Scroll
::-moz-selection{color: gray("100");background: theme-color("dark");}
::selection {color: gray("100");background: theme-color("dark");}
::-webkit-scrollbar-track {background: gray("200");}
::-webkit-scrollbar-thumb {
    background: gray("500");
    &::-webkit-scrollbar-thumb:hover {
        background: gray("600");
    }
}

// Header
#main-header{
    color: $white;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1009;
    .navbar-brand{
        img{
            height: 45px;
        }
    }
    .navbar-nav{
        & > li{
            margin: 0 .5rem;
            &:first-child{
                margin: 0;
            }
            .nav-link{
                padding: 0!important;
            }
        }
        .header-ico{
            font-size: 1.3rem;
            &.btn{
                color: $white;
                &:hover{
                    background-color: var(--secondary);
                }
            }
        }
        .dropdown-menu{
            left: auto;
            right: 0;
        }
    }
    .b-nav-dropdown{
        .dropdown-menu{
            font-size: .85rem;
            > span{
                color: #c8c7c8;
                display: block;
                font-size: .8rem;
                padding: 0.2rem .8rem;
            }
            a{
                padding: 0.5rem .8rem;
                background-color: transparent!important;
                &:hover,
                &:active{
                    color: $body-color;
                    background-color: #eee!important;
                }
            }
        }
    }
    #notifications-dropdown{
        .header-ico{
            position: relative;
            &:after{
                content: '';
                width: 10px;
                height: 10px;
                background-color: var(--secondary);
                border-radius: 50%;
                position: absolute;
                top: 8px;
                right: 6px;
                display: block!important;
                border: 1px solid var(--primary);
            }
            &:hover{
                &::after{
                    background-color: $white;
                    border-color: var(--secondary);
                }
            }
        }
        > ul{
            min-width: 250px;
            padding-bottom: 0;
            .notification-item{
                border-bottom: 1px solid #eee;
                &:last-child{
                    padding-bottom: 0;
                    border-bottom: 0;
                    a{
                        color: var(--secondary);
                        font-size: .9rem;
                        &:hover{
                            color: var(--primary);
                        }
                        span{
                            margin-left: .2rem;
                        }
                    }
                }
            }
            .dropdown-item{
                white-space: normal;
            }
        }
    }
    #settings-dropdown{
        .dropdown-menu{
            > div{
                border-bottom: 1px solid #eee;
                &:last-child{
                    border-bottom: 0;
                }
                &.lang-blk{
                    li.active{
                        a{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            svg{
                                color: var(--secondary)
                            }
                        }
                    }
                }
                &.font-container{
                    display: flex;
                    align-items: flex-end;
                    a{
                        font-weight: bold;
                        padding-right: 0;
                        line-height: 1;
                        background-color: transparent!important;
                        &:hover{
                            color: var(--secondary);
                        }
                    }
                    > li{
                        &:first-child{
                            font-size: 2rem!important;
                        }
                        &:nth-child(2){
                            font-size: 1.5rem;
                        }
                        &:last-child{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
    #header-search{
        position: relative;
        min-width:100px;
        min-height: 40px;
        input{
            background-color: rgba($color: $black, $alpha: 0.15);
            border-color: transparent;
            color: #fff;
            width: 340px;
            height: 40px;
            &::placeholder{
                color: theme-color-level("primary", -5);
            }
        }
        .btn{
            position: absolute;
            right: 10px;
            top: 0;
            background-color: transparent;
            border-color: transparent;
            color: $white;
            &:hover{
                background-color: var(--secondary);
            }
        }
        .show-search{
            .btn{
                &:hover,
                &:active,
                &:focus{
                    background-color: transparent;
                    box-shadow: none;
                    border-color: transparent;
                    outline: none;
                }
            }
        }
    }
    #header-user{
        display: inline-flex;
        white-space: nowrap;
        align-items: center;
        img{
            border-radius: 50%;
            width:50px;
            flex: 0 0 50px;
            margin-right: .5rem;
        }
    }    
    .dropdown-toggle{
        color: $white;
        &::after{
            display: none;
        }
    }
    #toggleSide{
        margin-right: 2.5rem;
        margin-top: .5rem;
        cursor: pointer;
        span{
            width: 30px;
            height: 2px;
            background-color: $white;
            display: block;
            margin-bottom: .3rem;
            transition: all 0.5s ease-in-out;
            &:last-child{
                width: 20px;
            }
        }
        &:hover{
            span{
                &:last-child{
                    width: 30px;
                }
            }
        }
        &.hide-nav{
            span{
                &:last-child{
                    display: none;
                }
                &:first-child{
                    transform: rotate(45deg);
                }
                &:nth-child(2){
                    transform: rotate(-45deg);
                    position: relative;
                    bottom: 7px;
                }
            }
        }
    }
}

//ToolTips
.tooltip{
    &.b-tooltip{
        .arrow{
            display: none!important;
        }
    }
    .tooltip-inner{
        background-color: rgba($color: $black, $alpha: 0.5);
    }
}

// Side Nav
#side-nav{
    position: fixed;
    top: 71px;
    width: 400px;
    background: var(--primary);
    height: calc(100vh - 71px);
    z-index: 1009;
    padding: 1rem 0 0 .5rem;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    #nav-social{
        margin-right: 2.5rem;
        a{
            color: $white;
            display: block;
            margin: 1rem 1rem;
            &:hover{
                color: rgba($color: $white, $alpha: 0.6);
            }
        }
    }
    #nav-list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100%;
        width: 100%;
        height: 100%;
        overflow: auto;
        &::-webkit-scrollbar{
            width: 7px;
        }
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            // text-transform: capitalize;
            &.nav-list{
                & > li{
                    margin-bottom: 1rem;
                    > ul > li{
                        a{
                            color: theme-color-level(primary, -7);
                            &.router-link-exact-active{
                                color: var(--secondary);
                            }
                            &:hover{
                                color: theme-color-level(secondary, -7);
                            }
                        }
                    }
                }
            }
            li{
                a{
                    color: $white;
                    text-decoration: none!important;
                    &.router-link-exact-active,
                    &[href]:hover{
                        color: var(--secondary);
                    }
                }
            }
        }
    }
}

// Footer
#main-footer{
    background-color: #d9d9d9;
    color: #565960;
    font-size: .9rem;
    #footer-wrap{
        padding: 1.5rem 0;
        .footer-tit{
            font-size: .9rem;
        }
        ul{
            margin: 0;
        }
        a{
            color: #565960;
            text-decoration: none!important;
            display: block;
            margin-bottom: .3rem;
            &:hover{
                color: var(--secondary);
            }
        }
        #footer-social{
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            justify-content: flex-end;
            margin: 0 -0.5rem;
            a{
                display: block;
                margin: 0 .5rem;
                font-size: 1.2rem;
            }
        }
    }
    
}

// Main Content
#main-content{
    padding-top: 71px;
}

// Carousel
#main-carousel{
    position: relative;
    .carousel-desc{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        // flex-direction: column;
        .carousel-desc-inner{
            max-width: 400px;
            margin: 0 auto;
        }
    }
    .carousel-item{
        position: relative;
        img{
            height: 350px;
            object-fit: cover;
        }
        &:after{
            content: '';
            position: absolute;
            top: 0;
            left:0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: $white, $alpha: 0.2);
        }
    }
    .carousel-indicators,
    .carousel-control-prev,
    .carousel-control-next{
        z-index: 100;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon{
        width: 30px;
        height: 30px;
        background-color: rgba($color: $white, $alpha: 0.3);
        opacity: 1!important;
        padding: .2rem;
        border-radius: 2px;
        background-size: 20px;
        z-index: 100;
    }
    .carousel-indicators{
        align-items: flex-end;
        li{
            width: 10px;
            height:10px;
            border-radius: 50%;
            transition: all 0.5s ease-in-out;
            &.active{
                width: 15px;
                height: 15px;
                background-color: $white;
            }
        }
    }
}

// Page Title
#pg-tit, #related-topics h3{
    font-weight: bold;
    font-size: 2rem;
    margin: .3rem 0 1.3rem;
}

// BreadCrumb
.breadcrumb{
    background: transparent;
    padding: 0;
    margin: 0;
    font-size: .95rem;
}

// How We Helped
#how-we-help{
    background: url(assets/slide-1.jpg) no-repeat 50% 50%;
    position: relative;
    color: $white;
    text-align: center;
    padding: 3rem 0;
    &::before{
        content: '';
        background-color: rgba($color: $black, $alpha: 0.5);
        position: absolute;
        top:0;left:0;width:100%;height:100%;
    }
    h3, p{
        position: relative;
    }
    h3{
        font-size: 1.8rem;
        font-weight: bold;
    }
    .services-container{
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 4rem;
        margin-bottom: 4rem;
        .service-item{
            position: relative;
            width: 130px;
            height: 130px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:nth-child(odd){
                margin-right: -20px;
                margin-left: -20px;
            }
            &:nth-child(even){
                margin-top: 95px;
            }
            &::before{
                content: '';
                background-color: transparent;
                position: absolute;
                top:0;left:0;width:100%;height:100%;
                border: 2px solid $white;
                transform: rotate(45deg);
            }
            svg{
                height: 35px;
                width: auto;
            }
            .service-name{
                margin-bottom: 1.3rem;
                margin-top: .3rem;
                font-weight: 500;
            }
            .service-plus-ico{
                font-size: 1.15rem;
                position: relative;
                top: .8rem;
            }
        }
    }
}

// Articles
.article-card{
    color: $body-color;
    text-decoration: none!important;
    height: calc(100% - 1rem);
    margin-bottom: 1rem;
    display: block;
    .card{
        height: 100%;
        padding-bottom: 1.25rem;
        background-color: $white;
        box-shadow: 0 0 4px rgba($color: $black, $alpha: 0.15);
        .card-body{
            position: relative;
            .card-actions{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin: 0 -0.5rem;
                a{
                    display: block;
                    margin: 0 .5rem;
                    color: var(--secondary);
                    cursor: pointer;
                    &:hover{
                        color: var(--primary);
                    }
                }
            }
            .card-title{
                font-size: 1.2rem;
                font-weight: bold;
                cursor: pointer;
                a{
                    color: $body-color;
                    text-decoration: none!important;
                }
            }
            .card-categories{
                background-color: #e3e3e3;
                display: inline-block;
                padding: .2rem .5rem;
                border-radius: 5px;
                font-size: .8rem;
                color: #464646;
                margin-bottom: 1rem;
            }
            .card-text{
                color: #65686e;
                font-size: .9rem;
            }
            .card-date{
                color: #707070;
                font-size: .85rem;
                font-weight: bold;
                position: absolute;
                bottom: 0;
            }
        }
    }
    
    img{
        height: 150px;
        object-fit: cover;
    }
}


// Article Details
#article-details{
    padding-bottom: 0!important;
    .card{
        padding-bottom: 0;
        img{
            height: 350px;
        }
    }
    .card-categories{
        background-color: transparent!important;
        padding: 0!important;
        font-size: 1rem;
        text-transform: capitalize;
        margin-bottom: 0;
    }
    .card-title-container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .card-title{
            cursor: initial;
        }
        .card-actions{
            white-space: nowrap;
        }
    }
}

// Related Articles
#related-topics{
    a{
        text-decoration: none!important;
        color: var(--secondary);
        cursor: pointer;
        display: block;
        font-size: .85rem;
        &:hover{
            color: var(--primary);
        }
        svg{
            margin-left: .2rem;
        }
    }
    > a{
        margin-top: 1rem;
        svg{
            position: relative;
            top: 2px;
            margin-left: .4rem;
        }
    }
    .related-card{
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        height: 100%;
        min-height: 350px;
        display: flex;
        align-items: flex-end;
        .related-bg{
            position: absolute;
            top: 0;
            left:0;
            width:100%;
            height: 100%;
            &:before{
                content:'';
                position: absolute;
                top:0;
                left:0;
                width: 100%;
                height: 100%;
                background-color: rgba($color: $black, $alpha: 0.35);
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .related-body{
            position: relative;
            background-color: rgba($color: $white, $alpha: 0.85);
            width: 100%;
            margin: .5rem;
            padding: .5rem 1rem;
            border-radius: 5px;
            font-size: .85rem;
            .related-category{
                color: #2f2e2f;
            }
            .related-title{
                font-size: 1.4rem;
                font-weight: bold;
                margin-bottom: 1rem;
            }
        }
    }
}

// Forms
.form-attached-btn{
    display: flex;
    .form-control{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        outline: none;
        box-shadow: none!important;
        &:focus{
            border-color: var(--secondary);
        }
    }
    .btn{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

// Paging
.paging-container{
    .pagination{
        justify-content: center;
        .page-item{
            .page-link{
                margin: 0 .5rem;
                border-radius: 5px;
                color: $body-color;
                &.active{
                    background-color: var(--secondary);
                    color: $white;
                }
            }
        }
    }
}
